<footer>
  <nav>
    <ul>
      <li><a href="/shop">SHOP</a></li>
      <li><a href="/register">REGISTRARSE</a></li>
      <li><a href="/login">LOGIN</a></li>
      <li><a href="/pages/contact.html">CONTACTO</a></li>
    </ul>
  </nav>
  <section class="copyright">
    <p>All rights reserved 2023 - Funkoshop &copy;</p>
  </section>
  <picture class="footer-logo">
    <img
      src="/images\branding\isotype.svg"
      alt="Isotipo de la marca de FunkoShop"
    />
  </picture>
</footer>
