<footer >
    <nav>
      <ul>
        <li><a href="/pages/shop.html" >SHOP</a></li>
        <li><a href="/pages/register.html" >REGISTRARSE</a></li>
        <li><a href="/pages/login.html" >LOGIN</a></li>
        <li><a href="/pages/contact.html" >CONTACTO</a></li>
      </ul>
    </nav>
    <section class="copyright">
      <p>All rights reserved 2023 - Funkoshop &copy;</p>
    </section>
    <picture class="footer-logo">
      <img src="/images\branding\isotype.svg" alt="Isotipo de la marca de FunkoShop">
     </picture>
  </footer>