<header class="encabezado">
  <article class="logo">
    <a href="/">
      <picture>
        <img
          src="/images\branding\logo_light_horizontal.svg"
          alt="Logo de Empresa"
        />
      </picture>
    </a>
  </article>
  <article class="barra_navegacion">
    <nav>
      <ul class="menu">
        <li>
          <a href="/shop">VER TIENDA</a>
        </li>
        <li>
          <a class="item-submenu" href="/admin">ADMIN</a>
        </li>
        <li><a class="item-submenu" href="/">SALIR</a></li>
      </ul>
    </nav>
  </article>
</header>
