<header class="encabezado">
    <article class="logo">
      <a href="/index.html">
        <picture>
          <img
            src="/images\branding\logo_light_horizontal.svg"
            alt="Logo de Empresa"
          />
        </picture>
      </a>
    </article>
    <article class="barra_navegacion">
      <nav>
        <ul class="menu">
          <li>
            <a href="/pages\shop.html">VER TIENDA</a>
          </li>
          <li>
            <a class="item-submenu" href="admin.html">ADMIN</a>
          </li>
          <li><a class="item-submenu" href="/index.html">SALIR</a></li>
        </ul>
      </nav>
    </article>
  </header>